#main_container {
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 100px;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif!important;
  background: url("/Assets/images/sel/bg.png") !important;
  background-size: 100% !important;
  width: 100% !important;
 

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-top: 0px !important;
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
      margin-left: 100px !important;
    margin-right: 100px !important;
 
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;

  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}
.image_hag {
  height: 90px;
  width: 180px;
  display: inline-block;
  text-align: left;
  position: static;
  margin-right: 100px;
}
.navbar{
    margin-left: 100px !important;
    margin-right: 100px !important;
}

p {
 margin-top: 0.6em; margin-bottom: -0.5em;
}

.nav_link {
  text-align: center;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0px 12px !important;
  font-size: 14px;
  line-height: 4;
  color: #464a4c;
  resize: none;
  background-color: #fff;
  word-wrap: normal;
  word-break: break-all;
  box-sizing: border-box;
  text-align: left;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  line-break: auto;
  text-align: start;
  }
  
  textarea {
  resize: none;
  }

.form-inline2{
  display: inline-block;
  -webkit-box-align: right;
  -webkit-align-items: right;
  -ms-flex-align: right;
  align-items: right;
}
.login_navigation {

  display: inline-block;
  text-align: right;
  margin: auto;
}

.karusele {
  text-align: center;
  display: flex;
  margin: auto;
 }

#myCarousel {
  z-index: -10;
 /* width: 100%;
  height: 60%;*/
  width: 100%;
  max-width: 1000px;
  max-height: 600px;
  text-align: center;

} 
.carousel-inner {

  max-width: 800px;
  max-height: 500px;
  height: 70%;
  text-align: center; 
  
}
.in_out_box {
  width: 80%;
  height: auto;
  border-color: black;
  border: solid;
}

.btn_register {
  margin-left: 10px;
}

.tekstas {
  position: absolute;
  text-align: center;
  z-index: 100;
}

.welcome_text {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 12px black;

}
.for_all {
  height: 500px;
  position: static;
}

.btn-primary {
  background-color: silver !important;
  color: black !important;
  border-color: silver  !important;
  box-shadow: 2px 5px 10px silver;
  z-index: 500 !important;
  margin-left: 10px;
}

.pav img {
  width: 1000px;
  max-width: 100%;
  max-height: 100%;
  z-index: -150 !important;
  margin-left: 50px;
  margin-right: 50px;
  border: 10px solid transparent;
}


#head input {
  background: url("/Assets/images/sel/head.jpg") no-repeat scroll 0 0 transparent !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px !important;
  height: 20px;
  padding-bottom: 2px;
  width: 100%;
  position: center !important;
  text-shadow: 2px 5px 10px green;
  color: white !important;
}

#hand input {
  background: url("/Assets/images/sel/hand.jpg") no-repeat scroll 0 0 transparent !important;
  text-shadow: 2px 5px 10px green;
  color: white !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px !important;
  height: 20px;
  padding-bottom: 2px;
  width: 75px;
  max-width: 100%;
}

#ear input {
  background: url("/Assets/images/sel/ears.jpg") no-repeat scroll 0 0 transparent !important;
  text-shadow: 2px 5px 10px green;
  color: white !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px !important;
  height: 20px;
  padding-bottom: 2px;
}

#eye input {
  background: url("/Assets/images/sel/eye.jpg") no-repeat scroll 0 0 transparent !important;
  text-shadow: 2px 5px 10px green;
  color: white !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px !important;
  height: 20px;
  padding-bottom: 2px;
  width: 75px;
}

#body input {
  background: url("/Assets/images/sel/test.jpg") no-repeat scroll 0 0 transparent !important;
  text-shadow: 2px 5px 10px green;
  color: white !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px !important;
  height: 20px;
  padding-bottom: 2px;
  width: 75px;
}

#other input {
  background: url("/Assets/images/sel/other.jpg") no-repeat scroll 0 0 transparent !important;
  text-shadow: 2px 5px 10px green;
  color: white !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px !important;
  height: 20px;
  padding-bottom: 2px;
  width: 75px;
}
.welcome_name {
  text-shadow: 2px 5px 10px green;
  color: white;
  font-family: "Arial", verdana, sans-serif!important;

}
.message_container {
  text-align: center;
}
.messagebox_color {
  background-color:#A3DF9D;
  background-blend-mode: color-burn;
  padding-top: 3px;
  padding-bottom: 3px;
}

.from_user {
background-color: #E4E5E4 ;
}
.user_span {
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 5px;
}
.welcome {
  text-align: left;
}
.post_box_user_welcome {
 font-weight: bold;
 font-size: 30px;
 margin-left: 70px;
}
.btn-success{
  padding: 1px 3px !important;
  margin-top: 5px !important;

}
.red_line {
  border: solid;
  border-top-color: black;
  border-bottom-color: black;
  border-right: none;
  border-left: none;
  background-color: white;
}

.profile_user {
  font-size: 50px;
  text-align: center !important;
}

.user_class{
  font-weight: bold;
  text-shadow: 2px 5px 30px green;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 10s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.user-by-cat {
border:solid;
border-color: #D4D1D1;
border-width: 2px;
margin-bottom: 20px;
border-radius: 5%;
padding: 10px;
}
